<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="REST.demo.SeleniumTes"/>
      <class name="REST.demo.RestTest"/>
      <class name="REST.demo.AppTest"/>
      <class name="REST.demo.NewTest"/>
      <class name="basicAPI.AddBook_MultipleSet"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
